/* body {
  --pink: rgb(255, 167, 196);
  background-color: var(--bg);
} */

body {
  --offblack: #11100f;
  --offWhite: #a5a5a5;
  --white: #fff;
  --headersColor: 'white';
  --textColor: var(--offWhite);
  background-color: var(--offblack);
  --textLink: #e48f30;
  --inlineCode-bg: rgba(35,35,35,0.7);
  --hr: rgba(110,110,110,0.5);
  --inlineCode-text: #eee;
  -webkit-font-smoothing: antialiased;
}

body.light {
  --headersColor: 'black';
  --bgColor: var(--offWhite);
  --textLink: 'cornflowerblue';
  --textColor: --offblack;
  --inlineCode-bg: rgba(35,35,35,0.7);
  --hr: rgba(110,110,110,0.5);
  --inlineCode-text: #111;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  --headersColor: 'white';
  --bgColor: var(--offblack);
  --textLink: #e48f30;
  --textColor: var(--offWhite);
  --inlineCode-bg: rgba(35,35,35,0.7);
  --hr: rgba(110,110,110,0.5);
  --inlineCode-text: #eee;
}

/* body.light {
  --bg: #ffffff;
  --header: var(--pink);
  --textNormal: #222;
  --textTitle: #222;
  --textLink: #d23669;
  --hr: hsla(0, 0%, 0%, 0.2);
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #282c35;
  --header: #ffffff;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: #ffffff;
  --textLink: var(--pink);
  --hr: hsla(0, 0%, 100%, 0.2);
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #e6e6e6;
} */

code[class*='language-'],
pre[class*='language-'] {
  color: white;
  background: none;
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  /* padding: 1.3125rem; */
  padding: 1rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  border: 1px solid rgba(255,255,255,0.2);
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.25em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(255, 130, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #e79;
}

.token.boolean {
  color: rgb(255,50,80);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: rgba(40, 43, 49, 0.9);
  display: block;
  /* margin-right: -1.3125rem; */
  margin-right: -1rem;
  /* margin-left: -1.3125rem; */
  margin-left: -1rem;
  padding-right: 1em;
  /* padding-left: 1.25em; */
  padding-left: 1em;
  border-left: 0.25em solid #59f;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  /* margin-left: -1.3125rem; */
  margin-left: -1rem;
  /* margin-right: -1.3125rem; */
  margin-right: -1rem;
  border-radius: 10px;
  background: #222428;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

